* {
    margin: 0px;
    padding: 0px;
}

.header {
    background-color: #0152A8;
    color: white;
    padding: 05px 60px;
    font-size: 15px;
}

.header p {
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.top-bar-call {
    padding: 15px 0px;
}


.top-bar-call i {
    width: 100%;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.top-bar-call a {
    font-size: 15px;
    font-weight: 100;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    padding-left: 6px;
    text-decoration: none;
}



@media (max-width: 430px) {
    .top-bar-call {
        padding: 5px 0px;
    }
}

@media (max-width: 756px) {
    .top-bar-call {
        padding: 5px 0px;
    }
}

/* ------------------------navbar------------------------------------- */
/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f0faff;
}

.nav {
    position: sticky;
    top: 0px;
    width: 100%;
    padding: 15px 200px;
    background: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.nav,
.nav .nav-links {
    display: flex;
    align-items: center;
}

.nav {
    justify-content: space-between;
}

a {
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: .04em;
    font-size: 16px;
}

.nav .nav-links {
    column-gap: 20px;
    list-style: none;
}

.nav .nav-links a {
    transition: all 0.2s linear;
}

.nav.openSearch .nav-links a {
    opacity: 0;
    pointer-events: none;
}

.nav .search-icon {
    color: #000000;
    font-size: 20px;
    cursor: pointer;
}

.nav .search-box {
    position: absolute;
    right: 250px;
    height: 45px;
    max-width: 555px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s linear;
}

.nav.openSearch .search-box {
    opacity: 1;
    pointer-events: auto;
}

.search-box .search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    left: 15px;
    color: #4a98f7;
    transform: translateY(-50%);
}

.search-box input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: #000000;
    padding: 0 15px 0 45px;
}

.nav .navOpenBtn,
.nav .navCloseBtn {
    display: none;
}

/* responsive */
@media screen and (max-width: 1160px) {
    .nav {
        padding: 15px 100px;
    }

    .nav .search-box {
        right: 150px;
    }
}

@media screen and (max-width: 950px) {
    .nav {
        padding: 15px 50px;
    }

    .nav .search-box {
        right: 100px;
        max-width: 400px;
    }
}

@media screen and (max-width: 768px) {

    .nav .navOpenBtn,
    .nav .navCloseBtn {
        display: block;
    }

    .nav {
        padding: 15px 20px;
    }

    .nav .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        max-width: 280px;
        width: 100%;
        padding-top: 100px;
        row-gap: 30px;
        flex-direction: column;
        background-color: #ededed;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.4s ease;
        z-index: 100;
    }

    .nav.openNav .nav-links {
        left: 0;
    }

    .nav .navOpenBtn {
        color: #000000;
        font-size: 20px;
        cursor: pointer;
    }

    .nav .navCloseBtn {
        position: absolute;
        top: 20px;
        right: 20px;
        color: #000000;
        font-size: 20px;
        cursor: pointer;
    }

    .nav .search-box {
        top: calc(100% + 10px);
        max-width: calc(100% - 20px);
        right: 50%;
        transform: translateX(50%);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
}

/* --------------------------HERO SECTION---------------------------------- */

.sub-banner{
    min-height: 260px;
    background-image: url(https://assets-global.website-files.com/6364b3839895890bb2c275a4/638891b14697997689567f61_service-page-banner.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content:center;
    display: flex;
    text-align: center;
    margin-bottom: 50px;
}

.section-title{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.banner-title{
    color: #1c1c1c;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: .02em;
    margin-top: 50px;
    margin-bottom: 10px;
    line-height: 1.3;
}


/* -------------------DOCTORS--------------------------- */

.dr-section{
    margin-top: 80px;
}

.team-img img{
    width: 100%;
}
.team-caption{
    padding: 25px 20px 30px 50px;
    background-color: #ffffff;
    border: 1px solid #ededed;
}

.team-caption h3{
    color: #161e46;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: .02em;
    line-height: 1.3;
}

.team-caption span{
    color: #a5a5a5;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

.team-social{
    margin-top: 10px;
    margin-bottom: 10px;
}
.team-social a{
    color: #0152A8;
    width: 40%;
    height: 40%;
    border-radius: 50%;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    margin-right: 8px;
    border: 1px solid #4a98f7;
    padding: 7px 5px 5px 5px;
}

.team-social a i{
    display: inline-block;
}


/* -------------------------------FOOTER------------------------------- */

.footer-section {
    margin-top: 100px;
    background-color: #E6F2F0;
    padding: 100px 0px;
}

.footer-contact {
    align-items: center;
    display: flex;
    grid-column-gap: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

.footer-contact-img {
    min-height: 44px;
    min-width: 44px;
    background-color: #0fe3af;
    border-radius: 100%;
    justify-content: center;
    text-align: center;
    display: flex;
}

.footer-contact-number {
    color: #545454;
    letter-spacing: .02em;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.footer-link-logo img {
    width: 50%;
}

/* .footer-social-links{
    grid-column-gap: 20px;
    align-items: center;
    display: flex;
    max-width: 100%;
} */


.footer-second-text {
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1c1c1c;
    letter-spacing: .02em;
    font-weight: 600;
    line-height: 1.3;
}

.footer-main-text {
    padding-left: 30px;
}

.footer-title {
    color: #1c1c1c;
    letter-spacing: .02em;
    line-height: 1.3;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 20px;
}

.footer-widget a {
    grid-row-gap: 20px;
    flex-direction: column;
    padding-top: 10px;
    display: flex;
    text-decoration: none;
    color: #545454;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
}

.footer-widget a:hover {
    color: blue;
}

.footer-sub-text h3 {
    color: #1c1c1c;
    font-size: 20px;
    letter-spacing: .02em;
    font-weight: 600;
    line-height: 1.5;
}

.footer-sub-text p {
    color: #545454;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: .02em;
}

.hero-form-input {
    color: #1c1c1c;
    min-height: 50px;
    min-width: 320px;
    letter-spacing: .01em;
    padding: 15px 16px 15px 25px;
    border: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.copyright-menu {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
}


.copyright-menu p {
    color: #545454;
    letter-spacing: .02em;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
}

.button {
    background-color: #0152a8;
    color: white;
    text-align: center;
    border: 1px solid #0152a8;
    padding: 16px 40px;
    font-weight: 600;
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: .02em;
    transition: .2s;
    margin-bottom: 15px;
    margin-top: 20px;
    text-decoration: none;
}

.button:hover {
    background-color: var(--background-secondary-green);
    transition: .2s;
    border-color: #0152a8;
    color: #0152a8;
}